/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    height: 100%;
    line-height: 1.5;
    font-family: sans-serif;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  button,
  input,
  select,
  textarea {
    font: inherit;
  }